*{
    padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
    background: rgb(223, 201, 208);
    color: rgb(13, 8, 2);
}
.searchBox{
    width: 600px;
    background: honeydew;
    margin:200px auto 0 ;
   border-radius: 15px;
}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(203, 189, 189);
}
input{
    flex:1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: black;

}
button{
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-solid {
    width: 25px;
    color: rgb(90, 77, 77);
    font-size: 22px;
    cursor: pointer;
}
::placeholder{
    color: rgb(55, 55, 61);
}

.resultBox ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px ;
}
.resultBox ul li:hover{
  background:rgb(220, 225, 226) ;
}
.resultBox{
    max-height: 300px;
    overflow-y: scroll;
}